#ORIGIN=http://189.203.172.120:8080 por proxy en reversa PRODUCCIÓN
#APP_PORT_FORWARD=10002 PRODUCCIÓN para la aplicación
MYSQL_HOST=127.0.0.1
MYSQL_DATABASE=db
MYSQL_USER=user
MYSQL_PASSWORD=pass
MYSQL_PORT_FORWARD=3311
MYSQL_PORT=3311
